{{ attach_library('acme_team/table-custom') }}

<form>
  <em>{{ 'Sort by: '|t }}</em>
  <select name="forma" id="team-sortby">
    {% for sorting_option in sorting_options %}
      <option value="{{ sorting_option.value }}" {% if sorting_option.checked  == true %} selected {% endif %}>
        {{ sorting_option.label }}
      </option>
    {% endfor %}
  </select>
  {% for filter in filters %}
    <strong>{{ 'Choose '|t }} {{ filter.id }}</strong>
    <select name="form" id="team-filter-{{ filter.id }}" multiple>
      {% for option in filter.options %}
        <option value="{{ option.value }}" {% if option.checked  == true %} selected {% endif %}>
          {{ option.label }}
        </option>
      {% endfor %}
    </select>
  {% endfor %}

  {% if clear_filters.show  == true %}
    <a class="clear-filter" href="{{ clear_filters.url }}">{{ "Clear Filters"|t }}</a>
  {% endif %}
</form>
<hr>
<strong>{{ 'Found results: '|t }}<span>{{ result_count }}</span></strong>
<table>
  <thead>
  <tr>
    {% for column in columns %}
      <th>{{ column }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for member in team_members %}
    <tr>
      <td>{{ member.name }}</td>
      <td>{{ member.nickname }}</td>
      <td>{{ member.display_name }}</td>
      <td>{{ member.id }}</td>
      <td>{{ member.conference }}</td>
      <td>{{ member.division }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
