table {
  width: 100%;
}

table, th, td {
  border: 1px solid;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ffe57c;
}

th {
  background-color: #0eacc3;
  color: white;
  font-weight: 900;
}

select {
  border: 1px solid #000;
}

.clear-filter {
  background-color: darkred;
  color: white;
  padding: 10px;
}
